{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {microservice-boilerplate.logics {can-withdrawal? {:arities {2 {:args [:neg-int
                                                                                                              :pos-int],
                                                                                                       :ret :boolean}}},
                                                                         uuid-from-string {:arities {1 {:args [:string],
                                                                                                        :ret :any}}},
                                                                         ->wallet-transaction {:arities {3 {:args [:any
                                                                                                                   :double
                                                                                                                   :double],
                                                                                                            :ret {:op :keys,
                                                                                                                  :req {:wallet/id :any,
                                                                                                                        :wallet/btc_amount :double,
                                                                                                                        :wallet/usd_amount_at :double}}}}},
                                                                         uuid-from-date-amount {:arities {2 {:args [:any
                                                                                                                    :double],
                                                                                                             :ret :any}}}},
                                        microservice-boilerplate.adapters {->wallet-history {:arities {2 {:args [:pos-int
                                                                                                                 :vector],
                                                                                                          :ret {:op :keys,
                                                                                                                :req {:entries :vector,
                                                                                                                      :total-btc :number,
                                                                                                                      :total-current-usd :number}}}}},
                                                                           deposit->db {:arities {3 {:args [:any
                                                                                                            :pos-int
                                                                                                            :pos-int],
                                                                                                     :ret {:op :keys,
                                                                                                           :req {:wallet/id :any,
                                                                                                                 :wallet/btc_amount :double,
                                                                                                                 :wallet/usd_amount_at :double}}}}},
                                                                           withdrawal->db {:arities {3 {:args [:any
                                                                                                               :neg-int
                                                                                                               :pos-int],
                                                                                                        :ret {:op :keys,
                                                                                                              :req {:wallet/id :any,
                                                                                                                    :wallet/btc_amount :double,
                                                                                                                    :wallet/usd_amount_at :double}}}}},
                                                                           inst->utc-formated-string {:arities {2 {:args [:any
                                                                                                                          :string],
                                                                                                                   :ret :string}}},
                                                                           db->wire-in {:arities {1 {:args [{:op :keys,
                                                                                                             :req {:wallet/id :any,
                                                                                                                   :wallet/btc_amount :double,
                                                                                                                   :wallet/usd_amount_at :double,
                                                                                                                   :wallet/created_at :any}}],
                                                                                                     :ret {:op :keys,
                                                                                                           :req {:id :any,
                                                                                                                 :btc-amount :number,
                                                                                                                 :usd-amount-at :number,
                                                                                                                 :created-at :any}}}}},
                                                                           wire->usd-price {:arities {1 {:args [{:op :keys,
                                                                                                                 :req {:bpi {:op :keys,
                                                                                                                             :req {:USD {:op :keys,
                                                                                                                                         :req {:rate_float :number}}}}}}],
                                                                                                         :ret :number}}}},
                                        parenthesin.components.http {request-fn {:arities {:varargs {:args [{:op :keys,
                                                                                                             :req {:url :string,
                                                                                                                   :method :keyword}}
                                                                                                            {:op :rest,
                                                                                                             :spec :any}
                                                                                                            {:op :rest,
                                                                                                             :spec :any}],
                                                                                                     :ret :any,
                                                                                                     :min-arity 1}}}},
                                        microservice-boilerplate.db {insert-wallet-transaction {:arities {2 {:args [{:op :keys,
                                                                                                                     :req {:wallet/id :any,
                                                                                                                           :wallet/btc_amount :double,
                                                                                                                           :wallet/usd_amount_at :double}}
                                                                                                                    :any],
                                                                                                             :ret :any}}},
                                                                     get-wallet-total {:arities {1 {:args [:any],
                                                                                                    :ret :number}}},
                                                                     get-wallet-all-transactions {:arities {1 {:args [:any],
                                                                                                               :ret :vector}}}},
                                        microservice-boilerplate.ports.http-out {get-btc-usd-price {:arities {1 {:args [:any],
                                                                                                                 :ret :number}}}},
                                        microservice-boilerplate.controllers {do-withdrawal! {:arities {2 {:args [:neg-int
                                                                                                                  {:op :keys,
                                                                                                                   :req {:config :any,
                                                                                                                         :http :any,
                                                                                                                         :router :any,
                                                                                                                         :database :any}}],
                                                                                                           :ret {:op :keys,
                                                                                                                 :req {:wallet/id :any,
                                                                                                                       :wallet/btc_amount :double,
                                                                                                                       :wallet/usd_amount_at :double,
                                                                                                                       :wallet/created_at :any}}}}},
                                                                              get-wallet {:arities {1 {:args [{:op :keys,
                                                                                                               :req {:config :any,
                                                                                                                     :http :any,
                                                                                                                     :router :any,
                                                                                                                     :database :any}}],
                                                                                                       :ret {:op :keys,
                                                                                                             :req {:entries :vector,
                                                                                                                   :usd-price :pos-int}}}}},
                                                                              do-deposit! {:arities {2 {:args [:pos-int
                                                                                                               {:op :keys,
                                                                                                                :req {:config :any,
                                                                                                                      :http :any,
                                                                                                                      :router :any,
                                                                                                                      :database :any}}],
                                                                                                        :ret {:op :keys,
                                                                                                              :req {:wallet/id :any,
                                                                                                                    :wallet/btc_amount :double,
                                                                                                                    :wallet/usd_amount_at :double,
                                                                                                                    :wallet/created_at :any}}}}}}}}}}
