{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {microservice-boilerplate.adapters {->wallet-history {:arities {2 {:args [:pos-int
                                                                                                                 :vector],
                                                                                                          :ret {:op :keys,
                                                                                                                :req {:entries :vector,
                                                                                                                      :total-btc :number,
                                                                                                                      :total-current-usd :number}}}}},
                                                                           deposit->db {:arities {3 {:args [:any
                                                                                                            :pos-int
                                                                                                            :pos-int],
                                                                                                     :ret {:op :keys,
                                                                                                           :req {:wallet/id :any,
                                                                                                                 :wallet/btc_amount :number,
                                                                                                                 :wallet/usd_amount_at :number}}}}},
                                                                           withdrawal->db {:arities {3 {:args [:any
                                                                                                               :neg-int
                                                                                                               :pos-int],
                                                                                                        :ret {:op :keys,
                                                                                                              :req {:wallet/id :any,
                                                                                                                    :wallet/btc_amount :number,
                                                                                                                    :wallet/usd_amount_at :number}}}}},
                                                                           inst->utc-formated-string {:arities {2 {:args [:any
                                                                                                                          :string],
                                                                                                                   :ret :string}}},
                                                                           db->wire-in {:arities {1 {:args [{:op :keys,
                                                                                                             :req {:wallet/id :any,
                                                                                                                   :wallet/btc_amount :number,
                                                                                                                   :wallet/usd_amount_at :number,
                                                                                                                   :wallet/created_at :any}}],
                                                                                                     :ret {:op :keys,
                                                                                                           :req {:id :any,
                                                                                                                 :btc-amount :number,
                                                                                                                 :usd-amount-at :number,
                                                                                                                 :created-at :any}}}}},
                                                                           wire->usd-price {:arities {1 {:args [{:op :keys,
                                                                                                                 :req {:bpi {:op :keys,
                                                                                                                             :req {:USD {:op :keys,
                                                                                                                                         :req {:rate_float :number}}}}}}],
                                                                                                         :ret :number}}}},
                                        parenthesin.components.http {request-fn {:arities {:varargs {:args [{:op :keys,
                                                                                                             :req {:url :string,
                                                                                                                   :method :keyword}}
                                                                                                            {:op :rest,
                                                                                                             :spec :any}
                                                                                                            {:op :rest,
                                                                                                             :spec :any}],
                                                                                                     :ret :any,
                                                                                                     :min-arity 1}}}}}}}}
